# Relation Algebra 
Main operations are:
- $\sigma$ Select (filter rows given some condition $C$)
- $\pi$ Project (filter columns)
- $-$ Set Difference (difference between two queries)
- $\cup$ Union (the union of two queries)
- $\times$ Cross Product (each row on the LHS joins to each row on the RHS)
- $\cap$ Intersection (the intersect of two queries)
- $\bowtie$ Natural Join (gives the rows where the LHS and RHS share a common ID)
- $\bowtie_\theta$ Condition Join / Theta Join / Inner Join (Same as natural join, but given some condition $C$ that must be `True`)

# Tables
Consider the following tables or dataframe or spreadsheet):
- `Person`

| FirstName | LastName  | Phone        | Email                    |
|-----------|-----------|--------------|--------------------------|
| Jon       | Snow      | 0551-999-210 | knowsnothing@hotmail.com |
| Daenerys  | Targaryen | 0569-988-112 | bendtheknee@gmail.com    |
| Jamie     | Lannister | 0531-987-654 | handsfree@gmail.com      |
| Night     | King      | 0566-123-456 | killerstare@gmail.com    |

- `Weapon`

| Weapon  | Metal          |
|---------|----------------|
| Sword   | Valyrian steel |
| Dagger  | Dragon glass   |

In [1]:
%%html
<style>
  table {margin-left: 0 !important;}
</style>

# Example Schema
- Read $\pi$ as `SELECT` and $\sigma$ as `WHERE`.
- Use single quotes `'example'` for SQL.
- SQL Syntax is not case sensitive.
- `INNER JOIN` is the default `JOIN` if not specified.

![schema](schema.png)

1. Find the names of all employees.
1. Find the names of all employees in department number 1.
1. List the names of green items of type C.
1. Find the items sold by the departments on the second floor (only show ItemID).
1. Find the names of brown items sold by the Recreation department.
1. Find the employees whose salary is less than half that of their managers.

```mysql
-- Find the names of all employees.

SELECT EmployeeName
FROM Employee;

-- Find the names of all employees in department number 1.

SELECT EmployeeName
FROM Employee
WHERE DepartmentID = 1;

-- List the names of green items of type C.

SELECT ItemName
FROM Item
WHERE ItemColour = 'Green'
  AND ItemType = 'C';

-- Find the items sold by the departments on the second floor (only show ItemID).

SELECT ItemID
FROM Sale
NATURAL JOIN Department
WHERE DepartmentFloor = 2;

-- Find the names of brown items sold by the Recreation department.

SELECT ItemName
FROM Item
NATURAL JOIN Sale
NATURAL JOIN Department
WHERE DepartmentName = 'Recreation'
  AND ItemColour = 'Brown';

-- Find the employees whose salary is less than half that of their managers.

SELECT emp.EmployeeName
FROM Employee AS emp
INNER JOIN Employee AS boss ON emp.BossID = boss.EmployeeID
WHERE emp.EmployeeSalary < (boss.EmployeeSalary / 2);
```